<div class="mt-5 md:mt-0 md:col-span-2">
    <form method="post" action="{{ url_for("save_death_record") }}" enctype="multipart/form-data">
        <input name="report_id" id="report_id" type="hidden" value="{{ death_report.id }}">
        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-3">
                        <label for="age" class="block text-sm font-medium text-gray-700">
                            Index</label>
                        <input type="number" name="record_number" id="record_number"
                               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-5">
                        <label for="report_date" class="block text-sm font-medium text-gray-700">
                            Date</label>
                        <input type="date" name="report_date" id="report_date"
                               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-4">
                        <label for="reported_at" class="block text-sm font-medium text-gray-700">
                            Death Reported At</label>
                        <select name="reported_at" id="reported_at"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option value="gov_hospital">Government Hospital</option>
                            <option value="pvt_hospital">Private Hospital</option>
                            <option value="home">Home</option>
                        </select>
                    </div>
                    <div class="col-span-12">
                        <label for="reason" class="block text-sm font-medium text-gray-700">
                            Reason</label>
                        <input type="text" name="reason" id="reason"
                               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-8">
                        <label for="gender" class="block text-sm font-medium text-gray-700">
                            Gender</label>
                        <select name="gender" name="gender"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option value="male">Male</option>
                            <option value="female">FeMale</option>
                        </select>
                    </div>
                    <div class="col-span-4">
                        <label for="age" class="block text-sm font-medium text-gray-700">
                            Age</label>
                        <input type="number" name="age" id="age"
                               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>

                    <div class="col-span-6">
                        <label for="residence_location" class="block text-sm font-medium text-gray-700">
                            Residence Location</label>
                        <input type="text" name="residence_location" id="residence_location"
                               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>

                    <div class="col-span-6">
                        <label for="death_location" class="block text-sm font-medium text-gray-700">
                            Death Location</label>
                        <input type="text" name="death_location" id="death_location"
                               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>


                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <button type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>