{% set this_year = today_date.year %}
{% set this_month = today_date.month %}
{% set this_date = today_date.day %}
{% set max_year = today_date.year + 1 %}
{% set max_month = 13 %}
{% set max_date = 32 %}


<div class="mt-5 shadow-sm bg-gray-50 my-2">

    <form method="post" action="{{ url_for("save_death_record") }}" enctype="multipart/form-data"
          id="death_record_form">
        <input name="report_id" id="report_id" type="hidden" value="{{ death_report.id }}">
        {% if selected_record %}
            <input name="record_id" id="record_id" type="hidden" value="{{ selected_record.id }}">
        {% endif %}

        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-12 gap-4">

                    <div class="col-span-12">
                        <h4 class="text-xl">

                            {% if selected_record %}
                                Edit
                            {% else %}
                                Add a
                            {% endif %}

                            Death Record</h4>
                    </div>

                    <div class="col-span-3">
                        <label for="age" class="block text-sm font-medium text-gray-700">
                            Index</label>
                        <input

                                {% if selected_record %}
                                    value="{{ selected_record.record_number }}"
                                {% endif %}
                                    data-rules='["required","minimum:1]' type="number" name="record_number"
                                    id="record_number"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-3">
                        <label for="report_date_year" class="block text-sm font-medium text-gray-700">
                            Year</label>
                        <select
                                data-rules='["required"]' name="report_date_year" id="report_date_year"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            {% for year in range(2019,max_year) %}



                                <option value="{{ year }}"

                                        {% if selected_record %}
                                            {% if selected_record.report_date.year == year %}
                                        selected
                                            {% endif %}
                                        {% else %}
                                            {% if this_year==year %}
                                        selected
                                            {% endif %}
                                        {% endif %}



                                >{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-span-3">
                        <label for="report_date_month" class="block text-sm font-medium text-gray-700">
                            Month</label>
                        <select
                                data-rules='["required"]' name="report_date_month" id="report_date_month"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            {% for month in range(1,max_month) %}
                                <option value="{{ month }}"
                                        {% if selected_record %}
                                            {% if selected_record.report_date.month == month %}
                                        selected
                                            {% endif %}
                                        {% else %}
                                            {% if this_month==month %}
                                        selected
                                            {% endif %}
                                        {% endif %}
                                >{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-span-3">
                        <label for="report_date_date" class="block text-sm font-medium text-gray-700">
                            Date</label>
                        <select
                                data-rules='["required"]' name="report_date_date" id="report_date_date"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            {% for date in range(1,max_date) %}
                                <option value="{{ date }}"

                                        {% if selected_record %}
                                            {% if selected_record.report_date.day==date %}
                                        selected
                                            {% endif %}
                                        {% else %}
                                            {% if this_date==date %}
                                        selected
                                            {% endif %}
                                        {% endif %}

                                >{{ date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-span-12">
                        <label for="reason" class="block text-sm font-medium text-gray-700">
                            Cause of death</label>
                        {% if selected_record %}
                            {% set reason = selected_record.reason %}
                        {% else %}
                            {% set reason = "" %}
                        {% endif %}
                        {{ searchComponent("reason",url_for("get_reason_auto_complete"),reason) }}
                    </div>

                    <div class="col-span-4">
                        <label for="reported_at" class="block text-sm font-medium text-gray-700">
                            Death Reported At</label>
                        <select
                                data-rules='["required"]' name="reported_at" id="reported_at"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option value="gov_hospital"

                                    {% if selected_record and selected_record.reported_at == 'gov_hospital' %}
                                    selected
                                    {% endif %}

                            >Government Hospital
                            </option>
                            <option value="pvt_hospital"
                                    {% if selected_record and selected_record.reported_at == 'pvt_hospital' %}
                                    selected
                                    {% endif %}>Private Hospital
                            </option>
                            <option value="on_admission"
                                    {% if selected_record and selected_record.reported_at == 'on_admission' %}
                                    selected
                                    {% endif %}>On Admission
                            </option>
                            <option value="home"
                                    {% if selected_record and selected_record.reported_at == 'home' %}
                                    selected
                                    {% endif %}>Home
                            </option>
                        </select>
                    </div>
                    <div class="col-span-4">
                        <label for="gender" class="block text-sm font-medium text-gray-700">
                            Gender</label>
                        <select
                                data-rules='["required"]' name="gender" name="gender"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option value="male"
                                    {% if selected_record and selected_record.gender == 'male' %}
                                    selected
                                    {% endif %}>Male
                            </option>
                            <option value="female"
                                    {% if selected_record and selected_record.gender == 'female' %}
                                    selected
                                    {% endif %}>Female
                            </option>
                        </select>
                    </div>
                    <div class="col-span-4">
                        <label for="age" class="block text-sm font-medium text-gray-700">
                            Age</label>
                        <input
                                {% if selected_record %}
                                    value="{{ selected_record.age }}"
                                {% endif %}
                                    data-rules='["required","isNumeric","minimum:1]' type="text" name="age" id="age"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>


                    <div class="col-span-6">
                        <label for="residence_location" class="block text-sm font-medium text-gray-700">
                            Residence Location</label>
                        {% if selected_record %}
                            {% set residence_location = selected_record.residence_location %}
                        {% else %}
                            {% set residence_location = "" %}
                        {% endif %}
                        {{ searchComponent("residence_location",url_for("get_location_auto_complete"),residence_location) }}
                    </div>

                    <div class="col-span-6">
                        <label for="death_location" class="block text-sm font-medium text-gray-700">
                            Death Location</label>
                        {% if selected_record %}
                            {% set death_location = selected_record.death_location %}
                        {% else %}
                            {% set death_location = "" %}
                        {% endif %}
                        {{ searchComponent("death_location",url_for("get_location_auto_complete"),death_location) }}
                    </div>
                    <div class="col-span-12">
                        <label for="death_location" class="block text-sm font-medium text-gray-700">
                            Extra Note</label>
                        <input
                                {% if selected_record %}
                                    value="{{ selected_record.note }}"
                                {% endif %}
                                    type="text" name="note" id="note"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-12 bg-gray-50 text-right">
                        <a class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-grey-600 hover:bg-grey-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-grey-500"
                           href="{{ url_for("death_report_view",id=death_report.id) }}">Reset</a>
                        <button type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                        </button>
                    </div>
                    <div class="col-span-6">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=text-red-600>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>

<script src="{{ url_for("static",filename="auto_complete.js") }}" type="application/javascript"></script>
<script>
    let form = document.getElementById("death_record_form");

    let inputs = [...form.querySelectorAll("input[data-rules]")];

    function onSubmit(event) {
        inputs.map((input) => {
            if (Iodine.is(input.value, JSON.parse(input.dataset.rules)) !== true) {
                event.preventDefault();
                input.classList.add("bg-red-100");
            }
        });
    }

    form.addEventListener("submit", onSubmit);
</script>
