{% set this_year = today_date.year %}
{% set this_month = today_date.month %}
{% set this_date = today_date.day %}
{% set max_year = today_date.year + 1 %}
{% set max_month = today_date.month + 1 %}
{% set max_date = today_date.day + 1 %}

{% macro searchComponent(name,query,value) %}
    <div class="flex flex-col items-center ">
        <div class="w-full  flex flex-col items-center">
            <div class="w-full">
                <div x-data="selectConfigs('{{ query }}')" x-init="init('{{ value }}')"
                     class="flex flex-col items-center relative">
                    <div class="w-full">
                        <div @click.away="close()"
                             class="my-2 p-1 bg-white flex border border-gray-200 rounded">
                            <input
                                    data-rules='["required"]'
                                    autocomplete="off"
                                    id="{{ name }}"
                                    name="{{ name }}"
                                    x-model="filter"
                                    x-transition:leave="transition ease-in duration-100"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0"
                                    @keydown="fetchOptions()"
                                    @mousedown="open()"
                                    @keydown.enter.stop.prevent="selectOption()"
                                    @keydown.arrow-up.prevent="focusPrevOption()"
                                    @keydown.arrow-down.prevent="focusNextOption()"
                                    class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
                            <div class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200">
                                <div @click="toggle()"
                                     class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                         height="100%" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <polyline x-show="!isOpen()"
                                                  points="18 15 12 20 6 15"></polyline>
                                        <polyline x-show="isOpen()"
                                                  points="18 15 12 9 6 15"></polyline>
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div x-show="isOpen()"
                         class="absolute shadow bg-white top-100 z-40 w-full lef-0 rounded max-h-select overflow-y-auto mt-12">
                        <div class="flex flex-col w-full">
                            <template x-for="(option, index) in filteredOptions()" :key="index">
                                <div @click="onOptionClick(index)"
                                     :class="classOption(option, index)"
                                     :aria-selected="focusedOptionIndex === index">
                                    <div class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative hover:border-teal-100">
                                        <div class="w-full items-center flex">
                                            <div class="mx-2 -mt-1"><span
                                                    x-text="option"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


<div class="mt-5 shadow-sm bg-gray-50 my-2">

    <form method="post" action="{{ url_for("save_death_record") }}" enctype="multipart/form-data"
          id="death_record_form">
        <input name="report_id" id="report_id" type="hidden" value="{{ death_report.id }}">
        {% if selected_record %}
            <input name="record_id" id="record_id" type="hidden" value="{{ selected_record.id }}">
        {% endif %}

        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-12 gap-4">

                    <div class="col-span-12">
                        <h4 class="text-xl">

                            {% if selected_record %}
                                Edit
                            {% else %}
                                Add a
                            {% endif %}

                            Death Record</h4>
                    </div>

                    <div class="col-span-3">
                        <label for="age" class="block text-sm font-medium text-gray-700">
                            Index</label>
                        <input

                                {% if selected_record %}
                                    value="{{ selected_record.record_number }}"
                                {% endif %}
                                    data-rules='["required","minimum:1]' type="number" name="record_number"
                                    id="record_number"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-3">
                        <label for="report_date_year" class="block text-sm font-medium text-gray-700">
                            Year</label>
                        <select
                                data-rules='["required"]' name="report_date_year" id="report_date_year"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            {% for year in range(2019,max_year) %}



                                <option value="{{ year }}"

                                        {% if selected_record %}
                                            {% if selected_record.report_date.year == year %}
                                        selected
                                            {% endif %}
                                        {% else %}
                                            {% if this_year==year %}
                                        selected
                                            {% endif %}
                                        {% endif %}



                                >{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-span-3">
                        <label for="report_date_month" class="block text-sm font-medium text-gray-700">
                            Month</label>
                        <select
                                data-rules='["required"]' name="report_date_month" id="report_date_month"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            {% for month in range(1,max_month) %}
                                <option value="{{ month }}"



                                        {% if selected_record %}
                                            {% if selected_record.report_date.month == month %}
                                        selected
                                            {% endif %}
                                        {% else %}
                                            {% if this_month==month %}
                                        selected
                                            {% endif %}
                                        {% endif %}



                                >{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-span-3">
                        <label for="report_date_date" class="block text-sm font-medium text-gray-700">
                            Date</label>
                        <select
                                data-rules='["required"]' name="report_date_date" id="report_date_date"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            {% for date in range(1,max_date) %}
                                <option value="{{ date }}"

                                        {% if selected_record %}
                                            {% if selected_record.report_date.day==date %}
                                        selected
                                            {% endif %}
                                        {% else %}
                                            {% if this_date==date %}
                                        selected
                                            {% endif %}
                                        {% endif %}

                                >{{ date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-span-12">
                        <label for="reason" class="block text-sm font-medium text-gray-700">
                            Cause of death</label>
                        {% if selected_record %}
                            {% set reason = selected_record.reason %}
                        {% else %}
                            {% set reason = "" %}
                        {% endif %}
                        {{ searchComponent("reason",url_for("get_reason_auto_complete"),reason) }}
                    </div>

                    <div class="col-span-4">
                        <label for="reported_at" class="block text-sm font-medium text-gray-700">
                            Death Reported At</label>
                        <select
                                data-rules='["required"]' name="reported_at" id="reported_at"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option value="gov_hospital"

                                    {% if selected_record and selected_record.report_date.reported_at == 'gov_hospital' %}
                                    selected
                                    {% endif %}

                            >Government Hospital
                            </option>
                            <option value="pvt_hospital"
                                    {% if selected_record and selected_record.report_date.reported_at == 'pvt_hospital' %}
                                    selected
                                    {% endif %}>Private Hospital
                            </option>
                            <option value="home"
                                    {% if selected_record and selected_record.report_date.reported_at == 'home' %}
                                    selected
                                    {% endif %}>Home
                            </option>
                        </select>
                    </div>
                    <div class="col-span-4">
                        <label for="gender" class="block text-sm font-medium text-gray-700">
                            Gender</label>
                        <select
                                data-rules='["required"]' name="gender" name="gender"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            <option value="male"
                                    {% if selected_record and selected_record.report_date.gender == 'male' %}
                                    selected
                                    {% endif %}>Male
                            </option>
                            <option value="female"
                                    {% if selected_record and selected_record.report_date.gender == 'female' %}
                                    selected
                                    {% endif %}>FeMale
                            </option>
                        </select>
                    </div>
                    <div class="col-span-4">
                        <label for="age" class="block text-sm font-medium text-gray-700">
                            Age</label>
                        <input
                                {% if selected_record %}
                                    value="{{ selected_record.age }}"
                                {% endif %}
                                    data-rules='["required","isNumeric","minimum:1]' type="text" name="age" id="age"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>


                    <div class="col-span-6">
                        <label for="residence_location" class="block text-sm font-medium text-gray-700">
                            Residence Location</label>
                        {% if selected_record %}
                            {% set residence_location = selected_record.residence_location %}
                        {% else %}
                            {% set residence_location = "" %}
                        {% endif %}
                        {{ searchComponent("residence_location",url_for("get_location_auto_complete"),residence_location) }}
                    </div>

                    <div class="col-span-6">
                        <label for="death_location" class="block text-sm font-medium text-gray-700">
                            Death Location</label>
                        {% if selected_record %}
                            {% set death_location = selected_record.death_location %}
                        {% else %}
                            {% set death_location = "" %}
                        {% endif %}
                        {{ searchComponent("death_location",url_for("get_location_auto_complete"),death_location) }}
                    </div>
                    <div class="col-span-12">
                        <label for="death_location" class="block text-sm font-medium text-gray-700">
                            Extra Note</label>
                        <input
                                {% if selected_record %}
                                    value="{{ selected_record.note }}"
                                {% endif %}
                                    type="text" name="note" id="note"
                                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                    </div>
                    <div class="col-span-12 bg-gray-50 text-right">
                        <button type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                        </button>
                    </div>
                    <div class="col-span-6">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=text-red-600>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

            </div>
        </div>

    </form>
</div>

<script src="{{ url_for("static",filename="auto_complete.js") }}" type="application/javascript"></script>
<script>
    let form = document.getElementById("death_record_form");

    let inputs = [...form.querySelectorAll("input[data-rules]")];

    function onSubmit(event) {
        inputs.map((input) => {
            if (Iodine.is(input.value, JSON.parse(input.dataset.rules)) !== true) {
                event.preventDefault();
                input.classList.add("bg-red-100");
            }
        });
    }

    form.addEventListener("submit", onSubmit);
</script>