{% extends "parts/master.html" %}

{% block body %}
    <div class="text-center mb-3">
        <h3 class="text-2xl items-center">Report Date <strong>{{ death_report.date }}</strong></h3>
    </div>

    <div class="flex gap-x-2">
        <div class="flex-1" x-data="{ activeSlide: {{ record_images[0].id }}, slides: {{ record_images|safe }} }">
            <!-- Prev/Next Arrows -->
            <div class="flex">
                <div class="flex items-center justify-center w-1/2">
                    <button
                            class="bg-blue-100 text-blue-500 hover:text-orange-500 font-bold hover:shadow-lg rounded-full w-12 h-12 -ml-6"
                            x-on:click="activeSlide = activeSlide === slides[0].id ? slides.length : activeSlide - 1">
                        &#8592;
                    </button>
                </div>
                <div class="flex items-center justify-center w-1/2">
                    <button
                            class="bg-blue-100 text-blue-500 hover:text-orange-500 font-bold hover:shadow rounded-full w-12 h-12 -mr-6"
                            x-on:click="activeSlide = activeSlide === slides.length ? slides[0].id : activeSlide + 1">
                        &#8594;
                    </button>
                </div>
            </div>
            <div class="bg-teal-100  justify-center items-center  max-h-screen overflow-y-auto ">

                <div
                        class="relative"

                >

                    <!-- Slides -->
                    <template x-for="slide in slides" :key="slide.id">
                        <div x-show="activeSlide === slide.id">
                            <div class="max-w-full px-2">
                                <img x-bind:src="slide.image_location"/>
                            </div>
                        </div>
                    </template>


                    <!-- Buttons -->
                    <div class="absolute w-full flex items-center justify-center px-4">
                        <template x-for="slide in slides" :key="slide.id">
                            <button
                                    class="flex-1 w-4 h-2 mt-4 mx-2 mb-0 rounded-full overflow-hidden transition-colors duration-200 ease-out hover:bg-blue-600 hover:shadow-lg"
                                    :class="{
              'bg-orange-600': activeSlide === slide.id,
              'bg-teal-300': activeSlide !== slide.id
          }"
                                    x-on:click="activeSlide = slide.id"
                            ></button>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 max-h-screen">
            {% include "forms/death_recode_add_form/index.html" %}
            <span class="p-4 text-2xl mt-2">Total Count <strong>{{ death_report.death_records|length }}</strong></span>
            <ul class="h-1/3  overflow-y-auto">
                {% for death_record in death_report.death_records|sort(attribute='record_number', reverse = True) %}
                    <li class="mb-3">
                        <div class="flex flex-col p-8 bg-white shadow-md hover:shodow-lg rounded-2xl">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="text-white font-extrabold rounded-lg bg-blue-500 flex justify-center items-center w-8">
                                        {{ death_record.record_number }}
                                    </div>
                                    <div class="flex flex-col ml-3">
                                        <div class="font-medium leading-none"> {{ death_record.reason }}</div>
                                        <p class="text-sm text-gray-600 leading-none mt-1">
                                            Died at
                                            <strong>
                                                {% if death_record.age - death_record.age|int ==0 %}
                                                    {{ death_record.age|int }}
                                                {% else %}
                                                    {{ death_record.age }}
                                                {% endif %}
                                            </strong>,
                                            In <strong> {{ death_record.death_location }} </strong>,
                                            Form <strong>{{ death_record.residence_location }} </strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="flex-no-shrink ">
                                    {{ death_record.report_date }}
                                    <span class="bg-white px-5 ml-4 py-2 text-sm shadow-sm font-medium tracking-wider border-2 border-green-400 text-green-800 rounded-full">
                                        {% if death_record.gender == "male" %}
                                            M
                                        {% elif death_record.gender == "female" %}
                                            F
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
 <a class="text-blue-500"
                                   href="{{ url_for("death_report_view",id=death_report.id) }}?recode_id={{ death_record.id }}">Edit</a>
{#                            <form class="mt-2 justify-items-end"#}
                            {#                                  action="{{ url_for("delete_recode",id=death_record.id) }}" method="post">#}
                            {#                                <a class="text-blue-500"#}
                            {#                                   href="{{ url_for("death_report_view",id=death_report.id) }}?recode_id={{ death_record.id }}">Edit</a>#}
                            {#                                |#}
                            {#                                <button class="text-red-500" type="submit">Delete</button>#}
                            {#                            </form>#}
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}
