{% extends "parts/master.html" %}

{% block body %}
    <h3>{{ death_report.date }}</h3>

    <div class="flex">
        <div class="flex-1 ...">
            {% for img in death_report.images %}
                <img src="{{ url_for('upload', filename=img.image_location) }}" alt="Report Image"/>
            {% endfor %}
        </div>
        <div class="flex-1 ...">
            {% include "forms/death_recode_add_form/index.html" %}
        </div>
        <div class="flex-1 ...">
            Total Count - {{ death_report.death_records|length }}

            <ul>
                {% for death_record in death_report.death_records %}
                    <li>
                        {{ death_record.report_date }}
                        {{ death_record.reason }}
                        {{ death_record.gender }}
                        {{ death_record.age }}
                        {{ death_record.residence_location }}
                        {{ death_record.death_location }}
                        {{ death_record.reported_at }}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}